@model Biblioteka.Models.Kategoria

@{
    ViewData["Title"] = "Edytuj kategorię";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edytuj" method="post">
    <div class="form-group">
        <label asp-for="Nazwa" class="control-label"></label>
        <input asp-for="Nazwa" class="form-control" />
        <span asp-validation-for="Nazwa" class="text-danger"></span>
    </div>

    <input type="submit" value="Zapisz zmiany" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>
