@{
    ViewData["Title"] = "Aplikacja Biblioteka";
}

<div style="text-align: center; padding: 20px;">
    <img src="/images/logo-biblioteka.png" alt="Logo Biblioteki" style="width: 200px; height: auto;" />

    <h1>@ViewData["Title"]</h1>

    <h3>@ViewData["Powitanie"]</h3>
    <h3>@ViewData["Stanowisko"]</h3>

    <h4>Zalogowałeś się poprawnie.<br>Możesz korzystać z aplikacji!</h4>

</div>
